.serch {
  display: flex;
}

th {
  height: 30px;
  text-align: center;
}

.wayOfdisplay {
  margin-top: 10px;
}

.addList {
  margin-top: 10px;
}

.lastMonth {
  margin-top: 40px;
}

.nextMonth {
  margin-top: 40px;
}

.yearAndmonth p {
  padding: 0;
  margin: 0;
}

.year {
  font-size: 15px;
}

.month {
  font-size: 20px;
  display: inline-block;
}

.weekCreate {
  background-color: #f3f3f3;
}

.carenderTable p {
  margin: 0;
  padding: 0;
}

.carenderTable a {
  color: black;
}

.otherDays {
  background: #eee9e6;
}

